@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }  
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-tif-blue;
}